[Unit]
Description=GPIO button handler
After=network.target

[Service]
Type=simple
User=brispo
Group=brispo
WorkingDirectory=/home/brispo/musicpi
ExecStart=/home/brispo/musicpi/scripts/button_handler.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
