[Unit]
Description=Shuffle MPD playlist on boot
After=network.target

[Service]
Type=oneshot
User=brispo
Group=brispo
ExecStart=/home/brispo/musicpi/scripts/shuffle_playlist.sh

[Install]
WantedBy=multi-user.target
